@scope (.nexacroK_mfe_sub4) to (.NexacroPortal) {
 @layer reset {
	 
 }

 @layer base {
	.Button {
	  background:black;
	  border-block-start:1px solid #c2c2c2;
	  border-block-end:1px solid #c2c2c2;
	  border-inline-start:1px solid #c2c2c2;
	  border-inline-end:1px solid #c2c2c2;
	  color:white;
	}

	.FileDownload {
	  background:black;
	  border-block-start:1px solid #c2c2c2;
	  border-block-end:1px solid #c2c2c2;
	  border-inline-start:1px solid #c2c2c2;
	  border-inline-end:1px solid #c2c2c2;
	  color:white;
	}

	.ButtonControl {
	  background:transparent;
	  border-block-start:0px none;
	  border-block-end:0px none;
	  border-inline-start:0px none;
	  border-inline-end:0px none;
	}

	.FileUpload .fileuploaditem .fileuploaditembutton {
	  background:linear-gradient(to top,#eaeaea,#ffffff);
	  border-block-start:1px solid #c2c2c2;
	  border-block-end:1px solid #c2c2c2;
	  border-inline-start:1px solid #c2c2c2;
	  border-inline-end:1px solid #c2c2c2;
	  padding-inline:9px 9px;
	  padding-block:1px 0px;
	}

	.Button.MDI_btn_preview { background:linear-gradient(#e8ecf3 0%,#c0c6d0 100%); }

 }

 @layer state {
	.FileUpload .fileuploaditem[data-status=disabled] { color:#999999; }

	.Button[data-status=mouseover] {
	  background:red;
	  border-block-start:1px solid #a0a0a0;
	  border-block-end:1px solid #a0a0a0;
	  border-inline-start:1px solid #a0a0a0;
	  border-inline-end:1px solid #a0a0a0;
	}

	.Button[data-status=focused] {
	  background:red;
	  border-block-start:1px solid #a0a0a0;
	  border-block-end:1px solid #a0a0a0;
	  border-inline-start:1px solid #a0a0a0;
	  border-inline-end:1px solid #a0a0a0;
	}

	.FileDownload[data-status=mouseover] {
	  background:red;
	  border-block-start:1px solid #a0a0a0;
	  border-block-end:1px solid #a0a0a0;
	  border-inline-start:1px solid #a0a0a0;
	  border-inline-end:1px solid #a0a0a0;
	}

	.FileDownload[data-status=focused] {
	  background:red;
	  border-block-start:1px solid #a0a0a0;
	  border-block-end:1px solid #a0a0a0;
	  border-inline-start:1px solid #a0a0a0;
	  border-inline-end:1px solid #a0a0a0;
	}

	.FileUpload .fileuploaditem .fileuploaditembutton[data-status=mouseover] {
	  background:red;
	  border-block-start:1px solid #a0a0a0;
	  border-block-end:1px solid #a0a0a0;
	  border-inline-start:1px solid #a0a0a0;
	  border-inline-end:1px solid #a0a0a0;
	}

	.FileUpload .fileuploaditem .fileuploaditembutton[data-status=focused] {
	  background:red;
	  border-block-start:1px solid #a0a0a0;
	  border-block-end:1px solid #a0a0a0;
	  border-inline-start:1px solid #a0a0a0;
	  border-inline-end:1px solid #a0a0a0;
	}

	.Button[data-userstatus=pushed] { background:linear-gradient(to top,#fefefe,#e9e9e9); }

	.Button[data-userstatus=selected] { background:linear-gradient(to top,#fefefe,#e9e9e9); }

	.FileDownload[data-userstatus=pushed] { background:linear-gradient(to top,#fefefe,#e9e9e9); }

	.FileUpload .fileuploaditem .fileuploaditembutton[data-userstatus=pushed] { background:linear-gradient(to top,#fefefe,#e9e9e9); }

	.FileUpload .fileuploaditem .fileuploaditembutton[data-userstatus=selected] { background:linear-gradient(to top,#fefefe,#e9e9e9); }

	.Button[data-status=disabled] {
	  color:#bbbbbb;
	  border-block-start:1px solid #d9d9d9;
	  border-block-end:1px solid #d9d9d9;
	  border-inline-start:1px solid #d9d9d9;
	  border-inline-end:1px solid #d9d9d9;
	}

	.FileDownload[data-status=disabled] {
	  color:#bbbbbb;
	  border-block-start:1px solid #d9d9d9;
	  border-block-end:1px solid #d9d9d9;
	  border-inline-start:1px solid #d9d9d9;
	  border-inline-end:1px solid #d9d9d9;
	}

	.FileUpload .fileuploaditem .fileuploaditembutton[data-status=disabled] {
	  color:#bbbbbb;
	  border-block-start:1px solid #d9d9d9;
	  border-block-end:1px solid #d9d9d9;
	  border-inline-start:1px solid #d9d9d9;
	  border-inline-end:1px solid #d9d9d9;
	}

  }

}